@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:100|Megrim|Poiret+One');
:root{
  --main: #02b3e4;
  --lighter: #fff;
  --darker: #2d3c49;
  --dark: #7d97ad;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Poiret One', sans;
  font-weight: 300;
}

body{
  font-family: 'Alegreya Sans', sans;
  font-size: 20px;
  padding: 20px;
}

h1{
  text-transform: uppercase;
}
#site-name{
  text-align: right;
}
#site-name h1{
  font-size: 2.5em;
}

body{
  margin: 0 auto;
  max-width: 1240px;
}

body>header section{
  padding: 40px 0;
}
#site-name{
  border-bottom: solid var(--dark);
}
#banner{
  height: 30vh;
  overflow: hidden;
}
figure{
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  width: 100%;
}
figure img{
  height: 100%;
  object-fit: cover;
  width: 100%;
}

section.projects,
section.findme{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
section.findme article,
section.projects article{
  flex-basis: 33%;
}
main header{
  flex: 0 0 100%;
  width: 100%;
}
section article figure{
  background: var(--dark);
  height: 200px;
}

