@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:100|Megrim|Poiret+One');
:root{
  --main: #02b3e4;
  --lighter: #fff;
  --darker: #2d3c49;
  --dark: #7d97ad;
}


h1,h2,h3,h4,h5,h6{
  font-family: 'Poiret One', sans;
  font-weight: 300;
}

body{
  font-family: 'Alegreya Sans', sans;
  font-size: 20px;
  padding: 20px;
}

h1{
  text-transform: uppercase;
}
#site-name{
  text-align: right;
}

body{
  margin: 0 auto;
  max-width: 1240px;
}

#site-name{
  border-bottom: solid var(--dark);
}
#banner{
  height: 30vh;
  overflow: hidden;
}
#logo{
  animation: coin;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  margin-top: 25px;
  display: block;
  overflow: hidden;
}
@keyframes coin{
  0%{transform: rotateY(0deg);}
  10%{transform: rotateY(90deg);}
  20%{transform: rotateY(0deg);}
  60%{transform: rotateY(90deg);}
  100%{transform: rotateY(0deg);}
}
figure{
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  width: 100%;
  box-shadow: 2px 2px 5px var(--dark);
}
figure:hover{
  box-shadow: 2px 2px 5px var(--darker);
}
figure img{
  height: 100%;
  object-fit: cover;
  width: 100%;
}

section article figure{
  background: var(--dark);
  height: 200px;
}

@media (min-width: 400px){
  body>header section{
    padding: 40px 0;
  }
  
  #logo{
    border-radius: 50%;
    float: left;
}
}
@media (min-width: 650px){
  section.projects,
  section.findme{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  section.findme article,
  section.projects article{
    flex-basis: 33%;
  }
  main header{
    flex: 0 0 100%;
    width: 100%;
  }
}
@media (min-width: 800px){
  #site-name h1{
    font-size: 2.5em;
  }
}
